.content-school{
    height: 100vh;
    background-image: linear-gradient(to right top, #002d71, #61247e, #a40072, #d5004e, #eb1212);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-text{
    color: rgba(100, 220, 220, 0.726);
    margin: 10px;
}

.sub-s {
    margin-top: 10px;
	color: rgb(100,220,220);
	letter-spacing: 0.2em;
}
.sub-bigger-s {
	color: rgb(100,220,220);
	letter-spacing:0.2rem ;
    font-size: larger;
}
.img-s{
    
    margin-bottom: 20px;
}

.content-home{
    background-color: red;
}

.right-content{
    text-align: left;
}