.content-home-single{
    background-image: linear-gradient(to right top, #002d71, #61247e, #a40072, #d5004e, #eb1212);
    min-height: 100vh;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-text{
    text-align: center;
    color: white;
}
.single-text p{
    
    color: white
}

.single-img img{
    width: 100%;
    height: auto;
}
.single-post img{
    
}
.row-home{
    min-height: 100vh;
    padding-top: 50px;
}