#content-frontpage{
    height: 100vh;
    background-image: linear-gradient(to right top, #002d71, #61247e, #a40072, #d5004e, #eb1212);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#wrapper-frontpage{
    
   
    
}
.sub {
	color: rgb(100,220,220);
	letter-spacing: 1em;
}
.sub-bigger {
	color: rgb(100,220,220);
	letter-spacing:0.2rem ;
    font-size: larger;
}
.img-fpage{
    width: 500px;
}