
.content-home{
    background-image: linear-gradient(to right top, #002d71, #61247e, #a40072, #d5004e, #eb1212);
    height: 100vh;
}
.single-post{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    height: 300px;
}
.single-post img{
    
}
.row-home{
    height: 100vh;
}